*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}

html.js .loader {
	background: none repeat scroll 0 0 #ffffff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
}
html.js .loader_inner {
	background-image: url("../img/preloader.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #fff;
	height: 60px;
	width: 60px;
	margin-top: -30px;
	margin-left: -30px;
	left: 50%;
	top: 50%;
	position: absolute;
}

body {
	font-family: sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	font-family: "RobotoRegular", sans-serif;
	overflow-x: hidden;
	background: #E0EAFC;
}
.hidden {
	display: none;
}

.header {
	text-align: center;
}

.hidden {
	visibility: hidden;
}

.size {
	width: 65px;
	border: none;
	border-bottom: 1px solid #1C5689;
	background: #E0EAFC;
}


.flex-cont {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
}

form {
	margin: auto;
}

.btn {
	margin: 30px auto 0;
	display: block;
	border: none;
	color: #fff;
	text-decoration: none;
	background-color: #1C5679;
	padding: 15px 45px;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 3px;
	border-radius: 5px;
	text-align: center;
	position: relative;
	outline: none;
	transition: background-color .1s ease;
}

.btn:focus, .btn:hover  {
	text-decoration: none;
	color: #fff;
}

.btn:hover {
	background-color: #BBB592;
}

.game-table {
	margin: 50px auto 0;
	border-collapse: separate;
	border-spacing: 4px;
	background: #1C5679;
	border-radius: 8px;
	border: 5px solid #293757;
	font-size: 25px;
	text-align: center;
	box-shadow: inset -3px -3px 15px 0px rgba(67,54,42,1);
}

.game-table td {
	padding: 5px 13px;
	background-color: #fff;
	transition: .2s;
	border-radius: 5px;
	font-weight: bold;
}

.game-table td:hover {
	background: #BBB592;
	color: #fff;
	cursor: default;
}

